.students-container{
    display:grid;
     grid-template-columns: repeat(3, 1fr);   
    gap:20px;
    margin-top:20px;
}
.student-card
{
background: rgba(0, 89, 255, 0.6);
padding:20px;
border-radius:10px;
/*box-shadow: 0px 4px 8px rgba(255, 204, 0, 0);*/
  color: white !important; 
  font-size: 17px;
   text-align: center;
}
.student-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
 
   text-align: center;
}
.student-card p {
  margin: 5px 0;
   color: white !important;
   text-align: center;
}
h2{
  text-align: center;   
    color: rgba(255, 0, 0, 0.467);
}